ion-text {
  align-items: center;
  color: rgb(102,102,102);
  font-size: 13px;
  display: flex;

  .active {
    background: var(--ion-color-secondary);
    border-radius: 99px;
    height: 6px;
    margin-left: 6px;
    width: 6px;
  }
}

ion-item-sliding {
  margin-bottom: 12px;
}

ion-thumbnail {
  margin-left: -16px;
}

.pets-list {
  margin-top: 16px;
}

.no-pets {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ion-thumbnail {
  --border-radius: 99px;
}

ion-list {
  margin-left: 8px;
  margin-right: 8px;
}

h2 {
  color: rgb(102,102,102);
  font-size: 14px;
  font-weight: 700;
}

.explanation-text {
  color: rgb(102,102,102);
  font-size: 13px;
  margin: 12px 12px 32px;
}
