ion-card {
  margin: 0;
}

.summary-header {
  .top {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 20px;
  }

  img {
    height: 50px;
    width: 50px;
  }

  p {
    font-size: 13px;
  }
}

.order-list {
  margin: 0;
  list-style: none;
  padding-left: 0;

  .image {
    max-height: 24px;
  }

  p {
    padding-bottom: 4px;
  }

  p:last-of-type {
    padding-bottom: 12px;
  }

  img {
    min-height: 24px;
    max-height: 24px;
    position: relative;
    max-width: 24px;
    z-index: 10;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0 4px;
  }

  .text {
    border-left: #ddd 1px dotted;
    margin-left: -12px;
    padding-left: 24px;
    padding-bottom: 0;

    &.no-border {
      border-left: none;
      padding-bottom: 0;
    }

    p {
      font-size: 12px;
    }
  }

  li {
    display: flex;
  }
}

.zoom {
  color: var(--ion-color-secondary);
  font-size: 13px;
  font-weight: 700;
  margin-left: 36px;
  //margin-top: 8px;
}

.gap {
  padding-bottom: 16px;
}

.status {
  border-top: 1px solid var(--ion-color-light-shade);
  margin-top: 24px;
  padding-top: 24px;

  &-header {
    font-weight: 700;
    margin-bottom: 16px;
  }
}
