<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-card class="welcome">
          <ion-card-content>
            <div class="summary-header">
              <div class="top">
                <img [src]="orderDetails?.image" alt="" height="28">
                <h2>{{ orderDetails?.header }}</h2>
              </div>
              <p *ngFor="let item of orderDetails?.body">
                {{ item }}
              </p>

              <div class="status">
                <h3>{{ 'ORDER_SUMMARY_PAGE.ORDER_STATE' | translate }}</h3>
                <ul class="order-list">
                  <li *ngFor="let el of orderDetails?.list; let l = last">
                    <div class="image">
                      <img [src]="el.image" alt="" height="24">
                    </div>
                    <div class="text" [ngClass]="{'no-border': l}">
                      <h3>{{ el.header }}</h3>
                      <p *ngFor="let item of el.body">
                        {{ item }}
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
