<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'TELEVET_EMERGENCY_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeXs="12">
        <ion-card class="emergency-header">
          <ion-card-content>
            <h2>{{ 'TELEVET_EMERGENCY_PAGE.HEADER' | translate }}</h2>
            <p>{{ 'TELEVET_EMERGENCY_PAGE.TEXT' | translate }}</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col sizeXs="6" sizeSm="4" sizeXl="3" *ngFor="let item of emergencies">
          <ion-card>
            <ion-card-content (click)="onClickTile(item)">
              <figure>
                <img [src]="item.image" alt="">
              </figure>
              <div class="image-label">
                {{ item.label }}
              </div>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
