.text, .buttons {
  font-size: 14px;
}

h2 {
  font-weight: 300;
}

.text {
  color: rgb(102,102,102);
}

.text, mat-radio-button {
  margin-left: 12px;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

input {
  height: 19px !important;
}

form {
  margin: 12px;
}
