<ion-header>
  <app-toolbar [cart]="true" [backButton]="true" title="{{ 'ORDER_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row *ngIf="cartItems.length > 0">
      <ion-col *ngIf="true" sizeSm="8" offsetSm="2">
        <div class="order">
          <h2 class="title">{{ 'ORDER_PAGE.ORDER' | translate }}</h2>
          <div class="article" *ngFor="let item of cartItems">
            <div class="article-content">
              <figure class="article-image">
                <img [src]="item.lineItem.cover.url" alt="">
              </figure>
              <div class="article-details">
                <h2>{{ item.lineItem.label }}</h2>
                <div class="article-quantity">
                  <span>{{ 'ORDER_PAGE.AMOUNT' | translate }}: {{ item.lineItem.quantity }}</span>
                </div>
                <div class="article-price">
                  {{ 'ORDER_PAGE.PRICE' | translate }}: {{ item.lineItem.price.totalPrice.toFixed(2) }} €
                </div>
              </div>
            </div>
            <div class="article-footer">
              <div class="remove-article" (click)="onArticleRemove(item.lineItem.id)">
                {{ 'ORDER_PAGE.REMOVE' | translate }} <ion-icon name="trash-outline"></ion-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="addresses">
          <div class="shipment" routerLink="/shop/address/billing">
            <h2 class="headline">{{ 'ORDER_PAGE.INVOICE' | translate }}</h2>
            <address class="address">
            <span class="name">
              {{ billingAddress?.firstName }} {{ billingAddress?.lastName }}
            </span><br>
              <span class="street">{{ billingAddress?.street }}</span><br>
              <span class="city">
              {{ billingAddress?.zipcode }}
                {{ billingAddress?.city }}
            </span><br>
              <span class="country">{{ billingAddress?.country?.name }}</span>
            </address>
          </div>

          <div class="shipment" routerLink="/shop/address/shipping">
            <h2 class="headline">{{ 'ORDER_PAGE.DELIVERY' | translate }}</h2>
            <address class="address">
            <span class="name">
              {{ shippingAddress?.firstName }} {{ shippingAddress?.lastName }}
            </span><br>
              <span class="street">{{ shippingAddress?.street }}</span><br>
              <span class="city">
              {{ shippingAddress?.zipcode }}
                {{ shippingAddress?.city }}
            </span><br>
              <span class="country">{{ shippingAddress?.country?.name }}</span><br>
              <span class="country">{{ phone }}</span>
            </address>
          </div>
        </div>

        <div class="payment" routerLink="/shop/payment">
          <h2>{{ 'ORDER_PAGE.BILLING' | translate }}</h2>
          <span>{{ payment?.translated.name }}</span>
          <span class="link">{{ 'ORDER_PAGE.CHANGE' | translate }}</span>
        </div>

        <div *ngIf="pharmacy" class="payment pharmacy" routerLink="/shop/delivery">
          <h2>{{ 'ORDER_PAGE.PRESCRIPTION_TO' | translate }}</h2>
          {{ pharmacy?.pharmacyName }}<br>
          {{ pharmacy?.street }}<br>
          {{ pharmacy?.zipcode }} {{ pharmacy?.city }}<br>
          {{ pharmacy?.phoneNumber }}
          <span class="link">{{ 'ORDER_PAGE.CHANGE' | translate }}</span>
        </div>

        <div class="transaction">
          <p class="transaction-text">
            <span class="shipment-price" *ngIf="cartData?.shippingCosts?.totalPrice != 0">
              {{ 'ORDER_PAGE.SHIPMENT' | translate }}
            </span>
            <span class="total-price">{{ 'ORDER_PAGE.SUMMARY' | translate }}</span>
            <span class="tax">{{ 'ORDER_PAGE.TAX' | translate }}</span>
          </p>
          <p class="transaction-details">
            <span class="shipment-price" *ngIf="cartData?.shippingCosts?.totalPrice != 0">
              {{ cartData?.shippingCosts?.totalPrice.toFixed(2) }} €
            </span>
            <span class="total-price"> {{ cartTransaction?.amount?.totalPrice.toFixed(2) }} €</span>
          </p>
        </div>

        <ion-button
          class="order-button"
          expand="full"
          color="secondary"
          routerDirection="forward"
          (click)="onPlaceOrder()">
          {{ 'ORDER_PAGE.ORDER_NOW' | translate }}
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
