<ion-header>
  <ion-toolbar *ngIf="!imageZoom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ careCard?.headline }}</ion-title>
  </ion-toolbar>

  <div *ngIf="imageZoom" class="image-toolbar">
    <div class="close-button" (click)="closeImage()">
      x
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2" class="ion-padding" *ngIf="!isLoading && !imageZoom">
        <div class="explanation">
          <img [src]="careCard?.image" alt="" width="32">
          <div>
            <h2 class="headline">{{ careCard?.headline }}</h2>
            <p *ngFor="let text of careCard?.text" class="explanation-text">{{ text }}</p>
          </div>
        </div>

        <div class="results" *ngIf="careCard?.currentList?.length < 1">
          <div class="no-result">
            <img class="signal" [src]="careCard?.cc_signal" alt="" width="24">
            <div>{{ careCard?.result }}</div>
          </div>
        </div>

        <ul class="results" *ngIf="careCard?.currentList?.length > 0">
          <li *ngFor="let result of careCard?.currentList"
              (click)="onClickLink('currentList', result.level1_cc_key, result.venomKey,result.level3Id)">
            <img class="signal" [src]="careCard?.cc_signal" alt="" width="24">
            <div class="result">
              <div class="result-text">
                <span *ngIf="result.label">{{ result.label }} </span>
                <span *ngIf="result.valA">{{ result.valA }}</span>
              </div>
              <div class="result-date">{{ careCard?.cc_date }} {{ result?.eventDate | date: 'dd.MM.yyyy' }}</div>
            </div>
            <img [src]="chevron" alt="" height="16" width="16">
          </li>
        </ul>

        <ion-button
          *ngIf="careCard?.button && careCard?.button?.action !== 'inactive'"
          (click)="onClickButton(careCard.button.action)"
          color="secondary"
          expand="full">
          {{ careCard?.button?.label }}
        </ion-button>

        <ion-button
          [disabled]="true"
          *ngIf="careCard?.button?.action === 'inactive'"
          color="secondary"
          expand="full">
          {{ careCard?.button?.label }}
        </ion-button>

<!--        Delete this-->
<!--        <ion-button-->
<!--          (click)="onClickButton('foo')"-->
<!--          color="secondary"-->
<!--          expand="full">-->
<!--          Foo-->
<!--        </ion-button>-->
        <!-- -->


        <div class="history-container" *ngIf="careCard?.terminatedList.length > 0">
          <div class="history-container-header" (click)="openList()">
            <span>{{ 'CARE_CARD_LIST_PAGE.HISTORY' | translate }}</span>
            <ion-icon *ngIf="!listOpen" name="chevron-down-outline"></ion-icon>
            <ion-icon *ngIf="listOpen" name="chevron-up-outline"></ion-icon>
          </div>

          <ng-container *ngIf="listOpen">
            <ul class="history">
              <li *ngFor="let result of careCard?.terminatedList">
                <div class="left">
                  <div class="date">
                    {{ result.eventDate | date: 'dd.MM.yyyy' }}
                  </div>
                  <div class="finding">
                    <div class="finding-title">
                      <span *ngIf="result.label">{{ result.label }} </span>
                      <span *ngIf="result.valA"><br>{{ result.valA }}</span>
                      <span *ngIf="result.valB"><br>{{ result.valB }}</span>
                    </div>

                    <ng-container *ngIf="result.findings">
                      <ng-container *ngFor="let item of result.findings">
                        <div class="doc"
                             *ngFor="let doc of item.docs"
                             (click)="onOpenDocument(doc)">
                        <span><img [src]="paperclip" alt="" height="14">
                          {{ 'CARE_CARD_LIST_PAGE.FINDING_PDF' | translate }}</span>
                        </div>
                      </ng-container>
                    </ng-container>

                  </div>
                </div>

                <div *ngIf="result.level3Id"
                     class="arrow-right"
                     (click)="onClickLink('terminatedList', result.level1_cc_key, result.venomKey,result.level3Id)">
                  <img [src]="chevron" alt="" height="16" width="16">
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
      </ion-col>

      <ion-col *ngIf="imageZoom" sizeSm="8" offsetSm="2" class="zoom-view">
        <img *ngIf="isImg" class="zoomed-image" [src]="enlargedImg" alt="">
        <ng-container *ngIf="isPdf">
          <iframe [src]="enlargedPdf" width="100%" height="800px"></iframe>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
