.scan-result {
  &-header {
    display: flex;
    align-items: center;
    //padding: 32px 32px 16px;
    padding-left: 32px;
    padding-top: 10px;
    margin: -16px -16px 0;
    height: 120px;
    //background: url('../../../assets/icons/tickets/result/televet_neu.svg');

    &-image {
      height: 75px;
      max-height: 100%;
      width: 75px;
    }

    &-description h3 {
      color: rgb(102, 102, 102);
      font-size: 17px;
      line-height: 24px;
      margin: 0;
      padding-left: 16px;
    }
  }

  &-card {
    margin: 0 0 8px;

    ion-card-content {
      padding-bottom: 6px;
    }

    h3 {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 6px;
    }

    .body {
      font-size: 13px;


    }

    p {
      margin-bottom: 6px;
    }

    //form {
    //  margin-top: -4px;
    //}

    ul {
      list-style: none;
      margin: 24px 0 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid #cecece;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      padding-bottom: 12px;

      .name {
        font-size: 13px;
      }
    }

    li:last-of-type {
      margin-bottom: 0;
    }

    .trash-bin {
      display: flex;
      justify-content: flex-end;
      width: 30px;
    }

    .data-input {
      margin-bottom: 0;
      margin-top: 20px;
    }

    .data {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 12px;
      margin-top: 20px;

      .name {
        font-size: 13px;
      }
    }
  }
}

.error p {
  margin-top: 16px;
}

.progress-button.repeat {
  margin-top: 16px;
}

.scan-result-card.date {
  ion-card-content {
    padding-bottom: 12px;
  }
}

ion-button {
  margin: 4px 0 16px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: #cecece;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 10px;
}

ion-item {
  --background: #fff;
}

ion-datetime {
  font-size: 13px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 14px;
  margin-top: 8px;
  --padding-start: 0;
  --padding-bottom: 8px;
  --placeholder-color: #cecece;
}

.no-border {
  border-bottom: none;
  margin-bottom: 0;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;

  ion-button {
    margin: 0;
  }
}
