<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets/televet"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ televet?.TITLE }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
    <ion-row *ngIf="!isLoading" class="pet-spot-buttons" (click)="zoomOut()">
      <ion-col offsetSm="2" sizeSm="8">
        <h2>
          <span *ngIf="!isPoison">{{ televet?.HEADER }}</span>
          <span *ngIf="isPoison">{{ televet?.POISON_HEADER }}</span>
        </h2>
        <p class="no-symptom" *ngIf="!symptom && !bodyPart">{{ televet?.ACTION }}</p>
<!--        <p class="symptom">{{ symptom }}</p>-->
<!--        <h2>-->
<!--          <span *ngIf="bodyPart">{{ televet?.HEADER }}</span>-->
<!--        </h2>-->
        <p class="description"  *ngIf="bodyPart">
          <span *ngIf="bodyPart && !isPoison">{{ televet?.DESCRIPTION }}: {{ bodyPart }}</span>
          <span *ngIf="bodyPart && isPoison">{{ bodyPart }}</span>
          <span *ngIf="symptom"> | {{ symptom }}</span>
        </p>

        <div class="main-image-container  {{ species }}">
          <img [src]="petImage" alt="" height="300">
          <div class="main-image-spots">
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.BUTT.SPOT, televet?.CLICK_SPOT?.BUTT.LABEL, $event)"
              *ngIf="!isZoomed"
              [ngClass]="televet?.CLICK_SPOT?.BUTT.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.BACK.SPOT, televet?.CLICK_SPOT?.BACK.LABEL, $event)"
              *ngIf="!isZoomed"
              [ngClass]="televet?.CLICK_SPOT?.BACK.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.BELLY.SPOT, televet?.CLICK_SPOT?.BELLY.LABEL, $event)"
              [ngClass]="televet?.CLICK_SPOT?.BELLY.SPOT"
              *ngIf="isZoomed && region === 'body-region'"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.ABDOMEN.SPOT, televet?.CLICK_SPOT?.ABDOMEN.LABEL, $event)"
              [ngClass]="televet?.CLICK_SPOT?.ABDOMEN.SPOT"
              *ngIf="isZoomed && region === 'body-region'"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.TAIL.SPOT, televet?.CLICK_SPOT?.TAIL.LABEL, $event)"
              *ngIf="!isZoomed"
              [ngClass]="televet?.CLICK_SPOT?.TAIL.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.CHEST.SPOT, televet?.CLICK_SPOT?.CHEST.LABEL, $event)"
              *ngIf="isZoomed && region === 'body-region'"
              [ngClass]="televet?.CLICK_SPOT?.CHEST.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.LEGS.SPOT, televet?.CLICK_SPOT?.LEGS.LABEL, $event)"
              *ngIf="!isZoomed"
              class="spot left-leg">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.LEGS.SPOT, televet?.CLICK_SPOT?.LEGS.LABEL, $event)"
              *ngIf="!isZoomed"
              class="spot right-leg">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.HEAD_REGION.SPOT, null, $event)"
              *ngIf="!isZoomed"
              [ngClass]="televet?.CLICK_SPOT?.HEAD_REGION.SPOT"
              class="region">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.EAR.SPOT, televet?.CLICK_SPOT?.EAR.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.EAR.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.EYE.SPOT, televet?.CLICK_SPOT?.EYE.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.EYE.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.NOSE.SPOT, televet?.CLICK_SPOT?.NOSE.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.NOSE.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.MOUTH.SPOT, televet?.CLICK_SPOT?.MOUTH.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.MOUTH.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.HEAD.SPOT, televet?.CLICK_SPOT?.HEAD.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.HEAD.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.THROAT.SPOT, televet?.CLICK_SPOT?.THROAT.LABEL, $event)"
              *ngIf="isZoomed && region === 'head-region'"
              [ngClass]="televet?.CLICK_SPOT?.THROAT.SPOT"
              class="spot">
            </div>
            <div
              (click)="onClickSpot(televet?.CLICK_SPOT?.BODY_REGION.SPOT, null, $event)"
              *ngIf="!isZoomed"
              [ngClass]="televet?.CLICK_SPOT?.BODY_REGION.SPOT"
              class="region">
            </div>
          </div>
        </div>

        <div *ngIf="!isZoomed" class="icons">
          <img
            (click)="onClickSpot(televet?.CLICK_SPOT?.GENERAL.SPOT, televet?.CLICK_SPOT?.GENERAL.LABEL, $event)"
            [src]="leftIcon"
            alt="" class="left-icon">
          <img
            (click)="onClickSpot(televet?.CLICK_SPOT?.FUR.SPOT, televet?.CLICK_SPOT?.FUR.LABEL, $event)"
            [src]="rightIcon"
            alt="" class="right-icon">
          <img
            (click)="onClickSpot(televet?.CLICK_SPOT?.POISON.SPOT, televet?.CLICK_SPOT?.POISON.LABEL, $event)"
            [src]="poisonIcon"
            alt="" class="poison-icon">
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="!isLoading">
  <ion-row>
    <ion-col offsetSm="2" sizeSm="8">
      <div class="progress-button">
        <ion-button (click)="onProgress()" [disabled]="!symptom"
                    color="secondary"
                    fill="clear"
                    size="small">
          {{ televet?.PROGRESS_BUTTON }}
        </ion-button>
      </div>
      <app-toolbar-footer [user]="user"></app-toolbar-footer>
    </ion-col>
  </ion-row>
</ion-footer>
