<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PRESCRIPTION_UPLOAD_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <figure>
          <img [src]="uploadImage" alt="">
        </figure>
        <p class="text">{{ 'PRESCRIPTION_UPLOAD_PAGE.TEXT' | translate }}</p>
        <div class="upload-container" *ngIf="showAttachmentComponent">
          <app-attach-document [user]="user" [path]="uploadPath"
                               (attachments)="receiveAddedFiles($event)"></app-attach-document>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="footer-buttons">
          <ion-button (click)="goBack()" color="medium" fill="clear" size="small">
            {{ 'TICKET_QUESTION_PAGE.BACK_BUTTON' | translate }}
          </ion-button>

          <ion-button
            (click)="onProgress()"
            [disabled]="!hasFiles"
            color="secondary"
            fill="clear"
            size="small">
            {{ 'TICKET_QUESTION_PAGE.PROGRESS_BUTTON' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
