<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'DELIVERY_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>

        <ion-card class="warning-card" *ngIf="warningMessage">
          <ion-card-content>
            <div class="image">
              <img [src]="warningImage" alt="">
            </div>
            <p>
              {{ warningMessage }}
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <div class="prescription-form" *ngIf="prescriptionDeliveries">
              <h2>{{ 'DELIVERY_PAGE.RECIPE_HEADER' | translate }}</h2>

              <mat-radio-group class="delivery-button-group" [ngModel]="selectedPrescriptionDelivery"
                               (change)="onSwitchDelivery($event)"
              >
                <mat-radio-button
                  *ngFor="let item of prescriptionDeliveries" [value]="item.key">
                  <div class="content">
                    <div class="label"> {{ item.label }}</div>
                    <div class="price">{{ item.totalPrice.toFixed(2) }} €</div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>

              <ng-container *ngIf="selectedPrescriptionDelivery === 'prescription'">
                <p class="pharmacy-text">
                  {{ 'DELIVERY_PAGE.CHOOSE_PHARMACY' | translate }}
                </p>
                <div class="pharmacy-form">
                  <mat-form-field class="pharmacy-zip-code">
                    <mat-label>{{ 'DELIVERY_PAGE.ZIP' | translate }}</mat-label>
                    <input type="tel" matInput [(ngModel)]="zipCode" (keyup)="onChooseZip()">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>{{ 'DELIVERY_PAGE.PHARMACY_LABEL' | translate }}</mat-label>
                    <mat-select (selectionChange)="onPickPharmacy($event)" panelClass="pharmacies-panel">
                      <mat-option *ngFor="let item of pharmacyList" [value]="item" >
                        <h4>{{ item.pharmacyName }} </h4>
                        <p>{{ item.street }} </p>
                        <p>{{ item.zipcode }} {{ item.city }} </p>
                        <p>{{ 'DELIVERY_PAGE.PHONE' | translate }} {{ item.phoneNumber }}</p>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <p *ngIf="pharmacyError" class="pharmacy-error">{{ 'DELIVERY_PAGE.PHARMACY_ERROR' | translate }}</p>
                </div>
              </ng-container>
            </div>

            <div class="standard-form" *ngIf="standardDeliveries">
              <h2>{{ 'DELIVERY_PAGE.FREE_HEADER' | translate }}</h2>

              <mat-radio-group class="delivery-button-group" [ngModel]="selectedStandardDelivery">
                <mat-radio-button
                  *ngFor="let item of standardDeliveries" [value]="item.key" [disabled]="selectedPrescriptionDelivery
                   === 'courierService'">
                  <div class="content">
                    <div class="label"> {{ item.label }}</div>
                    <div class="price">{{ item.totalPrice.toFixed(2) }} €</div>
                  </div>
                </mat-radio-button>
              </mat-radio-group>
            </div>


            <div class="addresses">
              <div class="shipment" routerLink="/shop/address/billing">
                <h2 class="headline">{{ 'DELIVERY_PAGE.INVOICE' | translate }}</h2>
                <address class="address">
            <span class="name">
              {{ billingAddress?.firstName }} {{ billingAddress?.lastName }}
            </span><br>
                  <span class="street">{{ billingAddress?.street }}</span><br>
                  <span class="city">
              {{ billingAddress?.zipcode }}
                    {{ billingAddress?.city }}
            </span><br>

                  <span class="country">{{ billingAddress?.country?.name }}</span><br>

                  <span class="link">{{ 'DELIVERY_PAGE.CHANGE' | translate }}</span>
                </address>
              </div>

              <div class="shipment" routerLink="/shop/address/shipping">
                <h2 class="headline">{{ 'DELIVERY_PAGE.DELIVERY' | translate }}</h2>
                <address class="address">
            <span class="name">
              {{ shippingAddress?.firstName }} {{ shippingAddress?.lastName }}
            </span><br>
                  <span class="street">{{ shippingAddress?.street }}</span><br>
                  <span class="city">
              {{ shippingAddress?.zipcode }}
                    {{ shippingAddress?.city }}
            </span><br>
                  <span class="country">{{ shippingAddress?.country?.name }}</span><br>
                  <span class="city">
                    {{ 'DELIVERY_PAGE.PHONE' | translate }} {{ customer?.customFields?.custom_customers_tel }}
                  </span>
                  <span class="link">{{ 'DELIVERY_PAGE.CHANGE' | translate }}</span>
                </address>
              </div>
            </div>

            <ion-button
              class="order-button"
              expand="full"
              color="secondary"
              routerDirection="forward"
              [disabled]="!validForm"
              (click)="onProceed()"
              >
              {{ 'DELIVERY_PAGE.PROCEED' | translate }}
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
