ion-card {
  margin: 12px 0 0;
}

ion-card-content {
  padding: 28px 16px 24px;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  color: #666;
  margin: 0 0 16px;
}

.pharmacy-text {
  color: #666;
  font-size: 11px;
  margin: 16px 0 6px;
}

.order, .shipment, .payment, .transaction {
  color: rgb(102,102,102);

}

.order, .addresses, .payment, .transaction {
  //margin: 0 16px 16px;
}
.addresses {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  h2 {
    margin: 0 0 8px;
  }
}

.address {
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
}

.link {
  color: var(--ion-color-secondary);
  display: block;
  font-size: 14px;
  padding-top: 6px;
}

.order-button {
  margin-top: 24px;
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: #aaa;
  font-size: 13px;
}

mat-form-field {
  width: 100%;
}


.pharmacy-error {
  color: var(--ion-color-danger);
  font-size: 11px;
  margin: -8px 0 16px;
}

.pharmacy-list {
  &.mat-select-panel {
    background-color: red;
  }
}

mat-radio-group {
  margin-top: 10px;
}

mat-radio-button {
 display: block;
  margin-bottom: 12px;
  font-size: 14px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .price {
    margin-left: 32px;
  }
}

.standard-form {
  margin-top: 32px;
}
