ion-card {
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

li {
  margin-top: 16px;
}

ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 13px;
  }
}

.infos {
  //display: flex;
  margin: 16px 0;
}

.info-header {
  display: flex;
  align-items: center;
}

.info-image {
  width: 50px;

  img {
    display: block;
    height: 27px;
    min-width: 33px;
  }
}
