<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'TICKET_INFO_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-spinner class="ion-text-center" color="primary" *ngIf="isLoading"></ion-spinner>
        <ion-card *ngIf="!isLoading">
          <ion-card-content>
            <div class="infos">

              <div class="info-header">
                <div class="info-image">
                  <img [src]="data?.image" alt="">
                </div>
                <h2>{{ data?.info_headline }}</h2>
              </div>



              <div class="info-text">

                <ul class="info-info-text">
                  <li *ngFor="let p of data?.info_body">{{ p }}</li>
                </ul>
              </div>

            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
