<ion-content>
  <ion-fab class="close-button" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" size="small" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="info">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <div class="info-container">
            <div class="info-content">
              <img [src]="infoIcon" alt="" height="45">
              <h2>{{ 'PRODUCT_SHIPMENT_INFO_MODAL.TITLE' | translate }}</h2>
              <p>{{ 'PRODUCT_SHIPMENT_INFO_MODAL.TEXT' | translate }}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
