<ion-toolbar class="top-toolbar" [ngClass]="{'android-mobile-top-bar': isAndroidMobile}">
  <ion-buttons slot="start" *ngIf="backButton">
    <ion-back-button
      [text]="backButtonText"
      defaultHref="/">
    </ion-back-button>
  </ion-buttons>
  <ion-title *ngIf="logo && !title">
    <img [src]="confidu" alt="" height="40">
  </ion-title>
  <ion-title *ngIf="!logo && title">
    {{ title }}
  </ion-title>
  <ion-buttons slot="end" *ngIf="settings || cart || createPet || feedback">
    <ion-menu-button menu="false" auto-hide="false" *ngIf="feedback">
      <a
        href="mailto:service@confidu.com?subject=confidu-user-feedback"><img [src]="feedbackIcon" alt="" height="20"
                                                                   width="20"></a>
    </ion-menu-button>
    <ion-button routerLink="/shop/cart" *ngIf="cart">
      <img [src]="cartIcon" alt="" height="20" width="20">
    </ion-button>
    <ion-menu-button menu="end" auto-hide="false" *ngIf="settings">
      <img [src]="accountIcon" alt="" height="20" width="20">
    </ion-menu-button>
    <ion-button routerLink="/pets/pet-create" *ngIf="createPet">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
