h2 {
  color: #888;
  font-size: 17px;
  font-weight: 500;
  margin-left: 16px;
}

ion-img {
  border-radius: 99px;
  height: 50px;
  width: 50px;
}


.notification {
  flex-grow: 2;
}

.notifications-list {
  list-style: none;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 0;

  li {
    color: rgb(102,102,102);
    display: flex;
    border-bottom: 1px solid #cecece;
    padding: 16px 0;

    //&:last-of-type {
    //  border-bottom: none;
    //  padding-bottom: 0;
    //}

    ion-img {
      height: 50px;
      margin-right: 16px;
      min-width: 50px;
    }

    .content {
      font-size: 13px;
      line-height: 1.4;
    }

    .author {
      font-weight: 500;
    }

    .date {
      color: #999;
      font-size: 11px;
    }
  }
}

.notification-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;

  .footer-link {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    width: 32px;
  }
}
