<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'TICKET_GUIDE_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-slides pager="true" *ngIf="!isLoading">
    <ion-slide *ngFor="let page of pages">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="instructions-content">
              <figure class="flex-item">
                <img [src]="page.image" alt="">
              </figure>
              <p>{{ page.text }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
