.instructions-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  //margin-top: 120px;
}

img {
  height: 200px;
}

figure {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0;
  height: 200px;
}

p, figcaption {
  font-size: 13px;
}

p {
  height: 130px;
  margin: 20px 60px 0;
  color: rgb(102,102,102);
}

figcaption {
  color: rgb(102,102,102);
  margin-top: 16px;
  width: 100%;
}
