<!--<ion-card>-->
<!--  <ion-card-title class="ion-justify-content-center">-->
<!--    <img [src]="profileCard?.image" alt="" height="100" width="100">-->
<!--  </ion-card-title>-->
<!--  <ion-card-content>-->
<!--    <p class="pet-name" text-center>-->
<!--      {{ profileCard?.title }}-->
<!--    </p>-->
<!--  </ion-card-content>-->
<!--  <div>-->
<!--    <ion-button-->
<!--      [disabled]="!user$?.uid"-->
<!--      color="primary"-->
<!--      (click)="onClickButton()"-->
<!--      routerDirection="forward">-->
<!--      {{ profileCard?.button }}-->
<!--    </ion-button>-->
<!--  </div>-->
<!--</ion-card>-->

<div class="profile-card">
  <figure>
    <img [src]="profileCard?.image" alt="" height="100" width="100">
    <figcaption class="pet-name">{{ profileCard?.title }}</figcaption>
  </figure>
  <div>
    <ion-button
      [disabled]="!user$?.uid"
      color="primary"
      (click)="onClickButton()"
      routerDirection="forward">
      {{ profileCard?.button }}
    </ion-button>
  </div>
</div>
