ion-slides {
  margin-top: 14px;
}

.swiper-slide img {
  margin-bottom: 30px;
}

ion-toolbar {
  --background: #fafafa !important;
  border-top: none;
  //height: 50px;
  display: flex;
}

ion-button {
  font-size: 13px;
  margin-right: 24px;
}
