<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  <ion-grid>
    <ion-row *ngIf="!isLoading && products.length < 1">
      <ion-col>
        <p>Keine Produkte gefunden.</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading && products.length > 0">
      <ng-container *ngFor="let product of products">
        <ion-col size="12" sizeSm="6">
          <ion-card routerLink="/shop/product/{{product?.id}}">
            <ion-card-content>
              <div class="product-image">
                <img [src]="product?.cover?.media?.url" alt="">
              </div>
              <div class="product-details">
                <h2>{{product?.name}}</h2>
                <div class="not-available" *ngIf="product?.stock < 1">Derzeit nicht auf Lager</div>
                <div class="available" *ngIf="product?.stock > 0">Auf Lager</div>
                <div class="delivery-time">Lieferzeit {{product?.deliveryTime?.name}}</div>
                <div class="price">{{product?.calculatedPrice?.unitPrice}} €</div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
