<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'ORDER_HISTORY_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="order-history-header" *ngIf="!isLoading">
  <div class="order-history-header-image">
    <img [src]="parcelImg" alt="">
  </div>
  <div class="order-history-header-label">
    <h2>{{ 'ORDER_HISTORY_PAGE.YOUR_ORDERS' | translate }}</h2>
  </div>
</div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">

      <ul class="order-list">
        <li *ngFor="let order of orders">
          <ion-card>
            <ion-card-content>
              <ul>
                <li *ngFor="let item of order.lineItems">
                  <h2 class="order-title">{{ item.label }}</h2>
                </li>
                <li class="order-date">
                  {{ 'ORDER_HISTORY_PAGE.ORDERED_AT' | translate }}
                  {{ order.createdAt | date: 'dd.MM.yyy' }}
                </li>
                <li class="order-price">
                  {{ 'ORDER_HISTORY_PAGE.PRICE' | translate }}:
                  {{ order.price?.totalPrice }} €
                </li>
              </ul>
            </ion-card-content>
          </ion-card>
        </li>
      </ul>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
