<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'ORDER_HISTORY_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div class="order-history-header" *ngIf="!isLoading">
  <div class="order-history-header-image">
    <img [src]="parcelImg" alt="">
  </div>
  <div class="order-history-header-label">
    <h2>{{ 'ORDER_HISTORY_PAGE.YOUR_ORDERS' | translate }}</h2>
  </div>
</div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">

        <p class="no-orders" *ngIf="orders?.length < 1">
          {{ 'ORDER_HISTORY_PAGE.NO_ORDERS' | translate }}
        </p>

      <ul class="order-list" *ngIf="orders?.length > 0">
        <li *ngFor="let order of orders">
          <ion-card>
            <ion-card-content>
              <div class="order-card-header" (click)="goToOrder(order.id)">
                <div class="left">
                  <h2 class="order-title">
                    {{ 'ORDER_HISTORY_PAGE.ORDER_NR' | translate }}:
                    {{ order.orderNumber }}
                  </h2>
                  <div class="order-date">
                    {{ 'ORDER_HISTORY_PAGE.ORDERED_AT' | translate }}
                    {{ order.createdAt | date: 'dd.MM.yyy' }}
                  </div>
                </div>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>

              <div class="order-price">
                {{ 'ORDER_HISTORY_PAGE.PRICE' | translate }}:
                {{ order.price?.totalPrice }} €
              </div>

            </ion-card-content>
          </ion-card>
        </li>
      </ul>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
