<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ORDER_HISTORY_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>

        <ng-container *ngIf="!isLoading">

          <div class="orders-header" *ngIf="orders?.length > 0">
            <div class="orders-headline">
              <img [src]="parcelImg" alt="" width="35">
              <h2>{{ 'ORDER_HISTORY_PAGE.YOUR_ORDERS' | translate }}</h2>
            </div>
            <div class="orders-filter">
              <div class="orders-amount">
                {{ 'ORDER_HISTORY_PAGE.ORDERS' | translate }} {{ orders?.length }}
              </div>
            </div>
          </div>

          <ion-card *ngIf="orders?.length < 1">
            <ion-card-content>
              <div class="no-orders-header">
                <img [src]="parcelImg" alt="" width="35">
                <h2>{{ 'ORDER_HISTORY_PAGE.YOUR_ORDERS' | translate }}</h2>
              </div>
              <p class="no-orders">{{ 'ORDER_HISTORY_PAGE.NO_ORDERS' | translate }}</p>
            </ion-card-content>
          </ion-card>

          <ng-container *ngIf="orders?.length > 0">
            <ion-card class="order" *ngFor="let order of orders">
              <ion-card-content (click)="openModal(order.id)">
                <div class="order-header">
                  <div>
                    <h3 *ngIf="true">{{ 'ORDER_HISTORY_PAGE.BUY_AGAIN' | translate }}</h3>
                    <h3 *ngIf="false">{{ 'ORDER_HISTORY_PAGE.GET_PRESCRIPTION' | translate }}</h3>
                  </div>
                  <img [src]="chevron" alt="" height="20">
                </div>
                <div class="product">
                  <div class="product-content">
                    <div class="product-image">
                      <img [src]="''" alt="" height="120" width="120">
                    </div>
                    <div class="product-details">
                      <h2>Foo Bar</h2>
                      <div class="order-date">
                        {{ 'ORDER_HISTORY_PAGE.ORDERED_AT' | translate }}
                        {{ order.orderDate | date: 'dd.MM.yyyy' }}
                      </div>
                      <div class="price">
                        {{ 'ORDER_HISTORY_PAGE.PRICE' | translate }}
                        {{ order.price.totalPrice.toFixed(2) }} €
                      </div>
                    </div>
                  </div>

                </div>
<!--                <div *ngIf="toCartAdded(item?.data.id)" class="cart-message">-->
                <div *ngIf="false" class="cart-message">
                  <img [src]="cartCheckIcon" alt="" height="20" width="20">
                  <p>{{ 'ORDER_HISTORY_PAGE.SAVED_CART' | translate }}</p>
                </div>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading && orders?.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-button
          [disabled]="selectedProducts?.length < 1"
          color="secondary"
          expand="full"
          routerLink="/shop/cart"
        >
          {{ 'TICKET_RESULT_PAGE.CART_BUTTON' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
