.order-history {
  &-header {
    background: url('../../../assets/icons/product-registration/header-bg.svg') repeat-x;
    display: flex;
    align-items: center;
    padding: 36px;
    margin: -5px;
    height: 100px;

    img {
      max-height: 100%;
    }
    &-label {
      h2 {
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        margin: 0;
        padding-left: 32px;
      }
    }
  }
}

.order-list {
  list-style: none;
  margin: -12px 0 0;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
  }

  .order-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 6px
  }

  .order-date {
    font-size: 13px;
  }

  .order-card-header {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;

    ion-icon {
      font-size: 18px;
    }
  }

  .order-price {
    font-size: 13px;
    margin-top: 8px;
    text-align: right;
  }
}

.no-orders {
  color: rgb(102,102,102);
  font-size: 13px;
  text-align: center;
}

ion-card {
  margin: 0 0 8px;
}

ion-card-content {
  padding-bottom: 16px;
}
