ion-toolbar {
  --background: #fafafa !important;
  border-top: 1px solid #d6d6d6;
  //height: 50px;
  display: flex;
}

img {
  height: 32px;
  border-image-width: 0 !important;
}


ion-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
  //margin-top: -18px;
  width: 100%;
}

input[type='file'] {
  display: none;
}

ion-toolbar {
  --min-height: 54px;
}
