
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="goHome()">
      <img class="home-img" [src]="homeImg">
    </ion-button>
    <ion-button (click)="goToCareCard()">
      <img class="page-img" [src]="pageImg">
    </ion-button>
    <ion-button (click)="handleImage()">
      <img class="cam-img" [src]="camImg">
    </ion-button>
    <ion-button (click)="goToNotifications()">
      <img class="snout-img" [src]="snoutImg">
    </ion-button>
    <ion-menu-button menu="start" color="medium" auto-hide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<input #filePicker (change)="onFileChosen($event)" accept="image/jpeg,image/png" type="file">
