<ion-header>
  <app-toolbar [backButton]="true" title="{{ 'ACCOUNT_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
      <ion-col sizeSm="8" offsetSm="2" *ngIf="!isLoading">
        <div class="header">
          <img [src]="accountImg" alt="">
          <h2>{{ 'ACCOUNT_PAGE.INFOS' | translate }}</h2>
        </div>
        <ion-card>
          <ion-card-content>

            <ul>
              <li (click)="updateInfo('name')">
                <div>
                  <div class="label">{{ 'ACCOUNT_PAGE.NAME' | translate }}</div>
                  <div class="value">
                    <span *ngIf="firstName !== '***'">{{ firstName }} </span>
                    <span *ngIf="lastName !== '***'">{{ lastName }}</span>
                  </div>
                </div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
              <li (click)="updateInfo('email')">
                <div>
                  <div class="label">{{ 'ACCOUNT_PAGE.MAIL' | translate }}</div>
                  <div class="value">
                    {{ email }}
                  </div>
                </div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
              <li (click)="updateInfo('phone')">
                <div>
                  <div class="label">{{ 'ACCOUNT_PAGE.PHONE' | translate }}</div>
                  <div class="value">
                    {{ phone }}
                  </div>
                </div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
              <li (click)="updateInfo('language')">
                <div>
                  <div class="label">{{ 'ACCOUNT_PAGE.CHOOSE_LANGUAGE' | translate }}</div>
                  <div class="value">
                    {{ selectedLanguage }}
                  </div>
                </div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

        <ion-card class="pw-change">
          <ion-card-content>
            <ul>
              <li (click)="updateInfo('pw')">
                <div class="label">{{ 'ACCOUNT_PAGE.CHANGE_PW' | translate }}</div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
<!--              <li>-->
<!--                <div class="label">{{ 'ACCOUNT_PAGE.DEL_ACC' | translate }}</div>-->
<!--                <img [src]="chevron" alt="" height="20" width="20">-->
<!--              </li>-->
<!--              <li>-->
<!--                <div class="label">{{ 'ACCOUNT_PAGE.BEQUEST' | translate }}</div>-->
<!--                <img [src]="chevron" alt="" height="20" width="20">-->
<!--              </li>-->
            </ul>
          </ion-card-content>
        </ion-card>

        <ion-card class="pw-change">
          <ion-card-content>
            <ul>
              <li routerLink="/shop/order-history">
                <div class="label">{{ 'ACCOUNT_PAGE.ORDERS' | translate }}</div>
                <img [src]="chevron" alt="" height="20" width="20">
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
