input[type='file'] {
  display: none;
}

ion-progress-bar {
  margin-top: 20px;
}

.file-label {
  display: flex;
  justify-content: space-around;


  div {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 12px;
  }

  color: var(--ion-color-secondary);
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

.uploaded-files {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  img {
    margin: 0 10px 0 0;
  }
}

.uploaded-images-small {
  img {
    margin-right: 10px;
  }
}

.doc {
  &-list {
    list-style: none;
    margin: 32px 16px 0;
    padding: 0;
    color: rgb(102,102,102);
    font-size: 13px;

    > li {
      border-bottom: 1px solid #cecece;
      margin-bottom: 16px;
      padding-bottom: 16px;

      //display: flex;
      //justify-content: space-between;
    }

    img {
      margin-right: 20px;
    }

    h6 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    ion-icon {
      font-size: 18px;
    }

    p {
      margin: 0;
    }

    .body-region {
      margin-bottom: 12px;
      margin-top: 0;
    }

    .header {
      display: flex;
      justify-content: space-between;

      ion-icon {
        font-size: 16px;
      }
    }
  }
}
