<ion-header>
  <app-toolbar [backButton]="true" [cart]="true" title="{{ 'LAB_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="header">
          <div class="headline">
            <img [src]="labIcon" alt="" height="24">
            <h3>{{ 'LAB_PAGE.HEADER' | translate }}</h3>
          </div>

          <p>{{ 'LAB_PAGE.SUBHEADER' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ng-container *ngFor="let panel of products">
          <mat-expansion-panel class="lab-products">
            <mat-expansion-panel-header>
              <div class="panel-top">
                <img [src]="panel?.collection_image_link" alt="">
                <div class="top-title">
                  <h2>{{ panel?.collection_titel_1 }}</h2>
                  <div>{{ panel?.collection_titel_2 }}</div>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="text1">{{ panel?.collection_text_1 }}</div>
            <div class="text2">{{ panel?.collection_text_2 }}</div>
            <ul>
              <li *ngFor="let link of panel?.links" (click)="onClickLink(link.url, panel.ticketKey)">
                <div>{{ link.label }}</div>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
            </ul>
          </mat-expansion-panel>
        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
