<ion-header>
  <app-toolbar [backButton]="true" [cart]="true" title="{{ 'LAB_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <ion-card class="menu">
          <ion-card-content>
            <div class="menu-header">
              <div class="menu-image">
                <img [src]="labIcon" alt="" height="32">
              </div>
              <div class="menu-headline">
                <h3>{{ 'LAB_PAGE.TITLE' | translate }}</h3>
              </div>
            </div>
            <ul>
              <li (click)="onClickLink('partest')">
                <h3>{{ 'LAB_PAGE.PARASITES' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('diatest')">
                <h3>{{ 'LAB_PAGE.DIARRHEA' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('diatestplus')">
                <h3>{{ 'LAB_PAGE.DIARRHEA_PLUS' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('giacon')">
                <h3>{{ 'LAB_PAGE.GIARDIA' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('flora')">
                <h3>{{ 'LAB_PAGE.FLORA' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('combi')">
                <h3>{{ 'LAB_PAGE.PREVENTION' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
              <li (click)="onClickLink('barfprof')">
                <h3>{{ 'LAB_PAGE.BARF' | translate }}</h3>
                <img [src]="chevron" alt="" height="16" width="16">
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
