.header-card {
  margin: 0 0 12px;
  color: #000;

  ion-card-content {
    padding: 0;
  }
}

.care-card {
  &-header {
    //background: url('../../../assets/icons/care-card/hund.svg') repeat-x;
    background-color: #DEF6FF;
    display: flex;
    align-items: center;
    padding: 16px 20px 12px;
    margin: 0;

    img {
      background-color: #fff;
      border-radius: 99px;
      box-shadow: 0 0 2px #666;
      padding: 3px;
      height: 70px;
      max-height: 100%;
      width: 70px;
    }
    &-label {
      font-size: 13px;
      margin-left: 24px;

      h2 {
        //color: rgb(102, 102, 102);
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 4px;
      }

      div {
        line-height: 19px;
      }

    }
  }
}

//.base-panel {
//  margin-top: -16px;
//}

//.spacer {
//  margin-top: 16px;
//}

.mat-expansion-panel {
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.mat-expansion-panel-header {
  margin-top: 16px;
  padding-left: 20px;
}

.panel-title-content {
  display: flex;
  align-items: center;
  .img {
    width: 92px;
  }

  img {
    height: 64px;
  }
  .base-image {
    height: 64px;
  }
}

.common {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    font-size: 14px;
    margin-bottom: 16px;
    padding-bottom: 14px;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .label {
    color: rgb(102, 102, 102);
    font-weight: bold;
    width: 140px;
  }

  .value {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
  }

  ion-icon {
    font-size: 16px;
    margin-top: 2px;
  }
}


.base-data {
  ul {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
  }

  li {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    font-size: 14px;
    margin-bottom: 16px;
    padding-bottom: 14px;
    justify-content: space-between;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .label {
    //color: var(--ion-color-medium);
    font-weight: 500;
    width: 55%;
  }

  .value {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 45%;

    img {
      margin-right: 6px;
      vertical-align: middle;
    }
  }

  ion-icon {
    color: rgb(102,102,102);
    font-size: 16px;
    margin-top: 2px;
  }
}

.submenu {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  list-style: none;
  width: 100%;
  margin: 12px 0 0;
  padding-left: 0;

  .label {
    font-weight: 500;
    width: 55%;
  }

  ion-icon {
    color: #666666;
    font-size: 18px;
    margin-top: 2px;
    margin-right: -4px;
  }

  .value {
    display: flex;
    align-items: center;
    //flex-grow: 2;
    margin-right: 8px;
    width: 45%;

    img {
      margin-right: 6px;
    }

    p {
      margin: 0;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }

  li:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.signal1 {
  background-color: var(--ion-color-secondary);
}

.signal2 {
  background-color: var(--ion-color-danger);
}

.signal1, .signal2 {
  border-radius: 99px;
  display: inline-block;
  margin-left: 6px;
  height: 6px;
  width: 6px;
  vertical-align: middle;

  &.signal-header {
    margin: 0 8px 0 0;
  }
}

mat-panel-title {
  font-size: 14px;
  font-weight: 500;
}

.export {
  color: rgba(0,0,0,0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  width: 100%;

  ion-card-content {
    padding: 24px;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &-button {
    margin-bottom: 16px;
    margin-top: 24px;
    --padding-bottom: 28px;
    --padding-top: 28px;
  }
}
