<ion-card class="order-card" *ngIf="template === 'card'">
  <ion-card-content>
    <ng-container *ngFor="let element of products">

      <div class="order-header" *ngIf="element.header">
        <h4 class="order-title">{{ element.header }}</h4>
        <img *ngIf="element.info" (click)="onClickInfo()" [src]="infoButton" alt="" height="28">
      </div>

      <p *ngFor="let p of element.body" class="order-description">{{ p }}</p>

      <div class="order-products">
        <ul>
          <li *ngFor="let item of element.list">
            <div (click)="onClickProduct(item)" class="product">
              <div class="product-content">
                <div class="product-image">
                  <img [src]="item?.data.cover.media.url" alt="">
                </div>
                <div class="product-details">
                  <div class="prescription-type" *ngIf="item?.med_header">
                    {{ item.med_header }}
                  </div>
                  <h2>{{item?.med_name}}</h2>
                  <div class="med-category" *ngIf="item?.med_category">
                    {{ item.med_category }}
                  </div>
                  <div *ngIf="item?.data?.translated?.description" class="category">
                    {{item.data.translated.description}}
                  </div>
                  <div class="product-price">
                    <div class="price">{{item?.data?.calculatedPrice?.totalPrice.toFixed(2)}} €</div>
                    <img [src]="eyeIcon" alt="" class="eye" height="26" width="26">
                  </div>
                </div>
              </div>

              <div *ngIf="toCartAdded(item?.data.id)" class="cart-message">
                <img [src]="cartCheckIcon" alt="" height="20" width="20">
                <p>{{ 'PRODUCTS_CONTAINER.SAVED_CART' | translate }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="choice">
      <p class="choice-question">{{ 'PRODUCTS_CONTAINER.CHOICE_QUESTION' | translate }}</p>
      <p class="choice-text">{{ 'PRODUCTS_CONTAINER.CHOICE_TEXT' | translate }}</p>
<!--      <p class="choice-annotation">{{ 'PRODUCTS_CONTAINER.CHOICE_ANNOTATION' | translate }}</p>-->
    </div>

    <div class="order-buttons">
      <ion-button
        [disabled]="selectedProducts.length < 1"
        color="secondary"
        expand="full"
        routerLink="/shop/cart">
        {{ 'PRODUCTS_CONTAINER.CART_BUTTON' | translate }}
      </ion-button>
    </div>


  </ion-card-content>
</ion-card>

<div class="order-card no-card-template" *ngIf="template !== 'card'">
    <ng-container *ngFor="let element of products">

      <div class="order-header" *ngIf="element.header">
        <h4 class="order-title">{{ element.header }}</h4>
        <img *ngIf="element.info" (click)="onClickInfo()" [src]="infoButton" alt="" height="28">
      </div>

      <p *ngFor="let p of element.body" class="order-description">{{ p }}</p>

      <div class="order-products">
        <ul>
          <li *ngFor="let item of element.list">
            <div (click)="onClickProduct(item)" class="product">
              <div class="product-content">
                <div class="product-image">
                  <img [src]="item?.data.cover.media.url" alt="" height="90" width="90">
                </div>
                <div class="product-details">
                  <div class="prescription-type">
                    <span *ngIf="item?.med_header">
                      {{ item?.med_header }}
                    </span>
                  </div>
                  <h2>{{item?.data.translated.name}}</h2>
                  <div *ngIf="item?.data.translated.description" class="category">
                    {{item?.data.translated.description}}
                  </div>
                  <div class="product-price">
                    <div class="price">{{item?.data.calculatedPrice.totalPrice}} €</div>
                    <img [src]="eyeIcon" alt="" class="eye" height="26" width="26">
                  </div>
                </div>
              </div>

              <div *ngIf="toCartAdded(item?.data.id)" class="cart-message">
                <img [src]="cartCheckIcon" alt="" height="20" width="20">
                <p>{{ 'PRODUCTS_CONTAINER.SAVED_CART' | translate }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="choice">
      <p class="choice-question">{{ 'PRODUCTS_CONTAINER.CHOICE_QUESTION' | translate }}</p>
      <p class="choice-text">{{ 'PRODUCTS_CONTAINER.CHOICE_TEXT' | translate }}</p>
      <!--      <p class="choice-annotation">{{ 'PRODUCTS_CONTAINER.CHOICE_ANNOTATION' | translate }}</p>-->
    </div>

    <div class="order-buttons">
      <ion-button
        [disabled]="selectedProducts.length < 1"
        color="secondary"
        expand="full"
        routerLink="/shop/cart">
        {{ 'PRODUCTS_CONTAINER.CART_BUTTON' | translate }}
      </ion-button>
    </div>
</div>
