<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
  <ion-grid>
    <ion-row *ngIf="!isLoading">
      <ion-col sizeSm="8" offsetSm="2">
       <ion-card>
         <ion-card-content>
           <div class="product-header">
<!--             <h2 class="product-name">{{ product?.name }}</h2>-->
<!--             <p class="product-number">Artikelnummer: Foo1337</p>-->
           </div>
           <figure class="product-image">
             <img [src]="productImage" alt="" height="120" width="120">
           </figure>
           <div class="product-price">
             {{ setTotalPrice(product.calculatedPrice.unitPrice, +this.form.value.quantity) }} €
           </div>
           <p class="product-delivery">
             <span>auf Lager &#124;</span> Lieferzeit: {{ product?.deliveryTime.name }}
           </p>
           <form [formGroup]="form" class="product-order">
             <ion-select formControlName="quantity" class="product-quantity">
               <ion-select-option
                 *ngFor="let num of numbers(8); let i = index" value="{{ i + 1 }}">
                 {{ i + 1 }}
               </ion-select-option>
             </ion-select>
             <ion-button color="secondary" class="cart-button"
                         (click)="onTakeProduct()">In den Warenkorb</ion-button>
           </form>
           <p class="product-tax">
             Alle Preise inkl. MWSt., zzgl. Versand &#124; Kostenloser Versand ab 75 €
           </p>
         </ion-card-content>
       </ion-card>
        <ion-card>
          <ion-card-content>
            <div class="product-description">
              <h3>Artikelbeschreibung</h3>
              <p>{{ product.med_description.data }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
