<ion-header>
    <app-toolbar [backButton]="true" title="{{ 'DASHBOARD_PAGE.TITLE' | translate }}"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
      <ng-container *ngFor="let card of cards">
        <ion-col *ngIf="card?.type === 'small' && !isLoading && card?.title" size="6">
          <ion-card class="card" (click)="onClickLink(card.key, card.label)">
            <ion-card-content>
              <div class="card-body">
                <h4 class="card-title">{{ card.title }}</h4>
                <div class="card-subtitle">{{ card.subtitle }}</div>
              </div>
              <div class="card-footer">
                <img [src]="card.image" alt="" height="76">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
