<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CONSULTATION_BOOKING_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="content">
          <ion-textarea rows="6" cols="25"
                        [(ngModel)]="appointmentText"
                        placeholder="{{ 'CONSULTATION_BOOKING_PAGE.ANNOTATIONS' | translate }}">
          </ion-textarea>

          <div class="max-characters">1500 {{ 'CONSULTATION_BOOKING_PAGE.CHARS' | translate }}</div>
          <div class="add-docs">{{ 'CONSULTATION_BOOKING_PAGE.ADD_DOCS' | translate }}</div>

          <app-attach-document [user]="user" [path]="uploadPath"
                               (attachments)="receiveAddedFiles($event)"></app-attach-document>

          <div class="checkbox-video-call">
            <mat-checkbox  class="checkbox-buttons" [(ngModel)]="careCard">
              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.CARECARD.1' | translate }}
              {{ pet?.pet?.name }},
              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.CARECARD.2' | translate }}
              {{ pet?.pet.birthday.seconds * 1000 | date: 'dd.MM.yyyy' }},
              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.CARECARD.3' | translate }}
            </mat-checkbox>
<!--            <mat-checkbox  class="checkbox-buttons" [(ngModel)]="agb">-->
<!--              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.AGB.1' | translate }}-->
<!--              <a [href]="conditionsLink">{{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.AGB.2' | translate }}</a>-->
<!--              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.AGB.3' | translate }}-->
<!--              <a [href]="privacyLink">{{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.AGB.4' | translate }}</a>-->
<!--              {{ 'CONSULTATION_BOOKING_PAGE.CHECKBOX.AGB.5' | translate }}-->
<!--            </mat-checkbox>-->
          </div>
          <ion-button
            (click)="onProgress()"
            [disabled]="!isChecked"
            color="secondary"
            expand="full"
          >
            {{ 'CONSULTATION_BOOKING_PAGE.BUTTON' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
