<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        X
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="toolbar-modal-page">
      <ion-col sizeSm="8" offsetSm="2">
        <h2>{{ 'TOOLBAR.IMG_SELECT.HEADER' | translate }}</h2>
        <mat-radio-group
          class="toolbar-radio-group"
          (change)="onSelectLink()"
          [(ngModel)]="selected">
          <mat-radio-button labelPosition="before" value="lab">
            <div class="button-content">
              <div class="button-image"><img [src]="labIcon" height="70" width="70" alt=""></div>
              <div class="button-text">
                <span> {{ 'TOOLBAR.IMG_SELECT.LAB' | translate }}</span><br>
                {{ 'TOOLBAR.IMG_SELECT.ACTIVATE' | translate }}
              </div>
            </div>
          </mat-radio-button>
          <mat-radio-button labelPosition="before" value="diagnosis">
            <div class="button-content">
              <div class="button-image"><img [src]="diagIcon" height="70" width="70" alt=""></div>
              <div class="button-text">
                <span>{{ 'TOOLBAR.IMG_SELECT.DIAG' | translate }}</span><br>
                {{ 'TOOLBAR.IMG_SELECT.PURCHASE' | translate }}
              </div>
            </div>
          </mat-radio-button>
          <mat-radio-button labelPosition="before" value="invoice">
            <div class="button-content">
              <div class="button-image"><img [src]="invoiceIcon" height="70" width="70" alt=""></div>
              <div class="button-text">
                <span>{{ 'TOOLBAR.IMG_SELECT.INVOICE' | translate }}</span><br>
                {{ 'TOOLBAR.IMG_SELECT.UPLOAD' | translate }}
              </div>
            </div>
          </mat-radio-button>

        </mat-radio-group>

        <div *ngIf="showLabNotes" class="description">
          <h3>{{ 'TOOLBAR.IMG_SELECT.LAB' | translate }}</h3>
          {{ 'TOOLBAR.LAB_DESCRIPTION' | translate }}
        </div>

        <div *ngIf="showInvoiceNotes" class="description">
          <h3>{{ 'TOOLBAR.IMG_SELECT.INVOICE' | translate }}</h3>
          {{ 'TOOLBAR.INVOICE_DESCRIPTION' | translate }}
        </div>

        <div *ngIf="showDiagNotes" class="description">
          <h3>{{ 'TOOLBAR.IMG_SELECT.DIAG' | translate }}</h3>
          {{ 'TOOLBAR.DIAG_DESCRIPTION' | translate }}
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="buttons">
          <ion-button (click)="closeModal()" color="medium" fill="clear" size="small">
            {{ 'TOOLBAR.IMG_SELECT.CANCEL_BUTTON' | translate }}
          </ion-button>
          <ion-button (click)="onConfirm()"
                      [disabled]="!this.selected"
                      color="secondary"
                      fill="clear"
                      size="small">
            {{ 'TOOLBAR.IMG_SELECT.OK_BUTTON' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
