<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        X
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <h2>{{ 'TOOLBAR.IMG_SELECT.HEADER' | translate }}</h2>
<!--        <p class="subheader">{{ 'TOOLBAR.IMG_SELECT.SUBHEADER' | translate }}</p>-->
        <mat-radio-group
          class="toolbar-radio-group"
          [(ngModel)]="selected"
          (change)="onSelectLink()">
          <mat-radio-button value="lab">
            {{ 'TOOLBAR.IMG_SELECT.LAB' | translate }}
          </mat-radio-button>
          <!--              <mat-radio-button value="profile" *ngIf="!isSafari">-->
          <!--                {{ 'TOOLBAR.IMG_SELECT.PROFILE' | translate }}-->
          <!--              </mat-radio-button>-->
          <mat-radio-button value="invoice">
            {{ 'TOOLBAR.IMG_SELECT.INVOICE' | translate }}
          </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="showLabNotes" class="description">{{ 'TOOLBAR.LAB_DESCRIPTION' | translate }}</div>
        <div *ngIf="showInvoiceNotes" class="description">{{ 'TOOLBAR.INVOICE_DESCRIPTION' | translate }}</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="buttons">
          <ion-button (click)="closeModal()" color="medium" fill="clear" size="small">
            {{ 'TOOLBAR.IMG_SELECT.CANCEL_BUTTON' | translate }}
          </ion-button>
          <ion-button (click)="onConfirm()"
                      [disabled]="!this.selected"
                      color="secondary"
                      fill="clear"
                      size="small">
            {{ 'TOOLBAR.IMG_SELECT.OK_BUTTON' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
