<ion-header *ngIf="!isLoading">
  <app-toolbar [settings]="true" [cart]="true" [logo]="true" [feedback]="true"></app-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid *ngIf="pet && !isLoading">

    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="pet-container">
          <div class="left" (click)="onPickImage()">
            <img class="pet-avatar" [src]="pet?.pet?.image" width="84" height="84" alt="">
            <img class="cam-icon" [src]="camIcon" width="26" height="26" alt="">
          </div>
          <div class="right">
            <div class="icons">
              <div class="icon" (click)="goToPage('benefits')">
                <img [src]="confiImg" width="33" height="33" alt="">
                <div class="text">{{ coins }}</div>
              </div>
              <div class="icon" (click)="goToPage('dashboard')">
                <img [src]="chartIcon" width="33" height="33" alt="">
                <div class="text">{{ 'HOME_PAGE.OVERVIEW' | translate }}</div>
              </div>
              <div class="icon" (click)="goToPage('/pets/pets-list')">
                <img [src]="myPetsIcon" width="33" height="33" alt="">
                <div class="text">{{ 'HOME_PAGE.MY_PETS' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">

       <div class="task-planner">

         <div class="planner-header" [ngClass]="{'no-tickets': tickets?.length < 1}">
           <div class="planner-title">{{ 'HOME_PAGE.TODAY_TASKS' | translate }}</div>
           <div class="planner-link" (click)="goToPage('tickets')">
             {{ 'HOME_PAGE.TO_TASKS' | translate }}
             <ion-icon name="chevron-forward-outline"></ion-icon>
           </div>
         </div>

         <div class="objectives" *ngIf=" tickets && tickets.length >= 2">
           {{ 'HOME_PAGE.OBJECTIVE' | translate }}
           {{ tickets.length - 1 }}
           {{ 'HOME_PAGE.TASK' | translate }}<ng-container *ngIf="tickets.length > 2">{{ 'HOME_PAGE.TASK_PLURAL' |
           translate }}</ng-container>
         </div>

         <ng-container>
           <ion-slides [options]="slideOptions">
             <ion-slide *ngFor="let ticket of tickets">

               <ion-card *ngIf="ticket?.data?.type === 'dummy'" class="task-card dummy">
                 <ion-card-header>
                   {{ 'HOME_PAGE.DUMMY_TICKET.CONTENT' | translate }}
                   <img [src]="heartIcon" alt="">
                 </ion-card-header>
                 <ion-card-content>
                   <img [src]="swipeIcon" alt="">
                   <div class="footer-text">
                     {{ 'HOME_PAGE.DUMMY_TICKET.FOOTER_TEXT' | translate }}
                   </div>
                 </ion-card-content>
               </ion-card>

               <ion-card *ngIf="ticket?.data?.type !== 'dummy'" class="task-card"
                         (click)="navigateToTicket(ticket?.data?.id,
               ticket.dateId)">
                   <img [src]="ticket?.data?.backgroundImageLink1" alt="" height="101">
                   <ion-card-header>
                     <ion-card-title>{{ ticket?.data.title }}</ion-card-title>
                   </ion-card-header>

                   <ion-card-content>
                     <ng-container *ngIf="ticket?.data?.type !== 'common'">
                       <div class="left-right">
                         <div class="coins">
                           <img [src]="confiImg" alt="" height="14"> {{ ticket?.data?.ticketCoins }}
                         </div>
                         <div class="time">
                           <ion-icon *ngIf="!isOverdue(ticket?.endTime)"  name="time-outline"></ion-icon>
                           <img *ngIf="isOverdue(ticket?.endTime)" [src]="bellImage" alt="" height="14"
                                width="11">
                           <span>{{ 'HOME_PAGE.TODAY' | translate }}</span>
                         </div>
                       </div>
                     </ng-container>
                     <div class="time" *ngIf="ticket?.data?.type === 'common'">
                       <ion-icon *ngIf="!isOverdue(ticket?.endTime)"  name="time-outline"></ion-icon>
                       <img *ngIf="isOverdue(ticket?.endTime)" [src]="bellImage" alt="" height="14"
                            width="11">

                       <span [ngClass]="{ overdue: isOverdue(ticket.endTime) }">
                                          {{ ticket.endTime.seconds * 1000 | date: 'HH:mm' }}
<!--                         {{ 'HOME_PAGE.TIME' | translate }}-->
                                        </span>
                     </div>
                 </ion-card-content>
               </ion-card>
             </ion-slide>
           </ion-slides>
         </ng-container>
       </div>

        <div class="no-tasks" *ngIf="tickets?.length < 1">
          <ion-card>
            <ion-card-content>
              <img *ngIf="randomPetImg" [src]="randomPetImg" alt="">
              <p class="text">
                {{ 'HOME_PAGE.NO_TASKS_TEXT.PART_1' | translate }}
                {{ 'HOME_PAGE.NO_TASKS_TEXT.PART_2' | translate }}
              </p>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <h3 class="subheader">
          {{ 'HOME_PAGE.MEDICAL_AID' | translate }}
        </h3>
        <ion-card class="health-state-card">
          <ion-card-content>
            <div class="body">
              <div class="left">
                <div class="question">
                  {{ 'HOME_PAGE.PET_STATE' | translate }}
                  {{ pet?.pet?.name }} <span>{{ 'HOME_PAGE.TODAY' | translate }}</span>?
                </div>
                <div class="slider">
                  <ion-range min="0" max="100" step="3"
                             [(ngModel)]="rangeValue"
                             (ionChange)="setHealthState($event)"
                             [ngClass]="{ emergency: isEmergency }"
                  ></ion-range>
                  <div class="answer">
                    <span>{{ 'HOME_PAGE.HEALTH_STATE_TEXT.HEALTHY' | translate }}</span>
                    <span>{{ 'HOME_PAGE.HEALTH_STATE_TEXT.SICK' | translate }}</span>
                    <span>{{ 'HOME_PAGE.HEALTH_STATE_TEXT.EMERGENCY' | translate }}</span>
                  </div>
                </div>

              </div>
              <div class="right">
                <img class="health-state-image" [src]="healthStateImg" height="65" alt="">
              </div>
            </div>
            <ion-button
                            color="secondary"
                            expand="full"
                            (click)="onOpenHealthStateModal()"
                            *ngIf="patchButton">
                            {{ 'HOME_PAGE.PATCH_BUTTON' | translate }}
                          </ion-button>

                          <ion-button
                            color="danger"
                            expand="full"
                            (click)="goToPage('tickets/televet-emergency')"
                            *ngIf="isEmergency">
                            {{ 'HOME_PAGE.DANGER_BUTTON' | translate }}
                          </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <h3 class="subheader">
          {{ 'HOME_PAGE.HANDS_ON' | translate }}
        </h3>
        <ion-slides [options]="slideOptions">
          <ion-slide>
            <ion-card class="page-card" (click)="onClickPageCardLink('carecard')">
              <ion-card-header>
                <img [src]="orderMedImg" alt="">
              </ion-card-header>
              <ion-card-content>
                <h3>
                  {{ 'HOME_PAGE.PAGE_SLIDER.CARE_CARD' | translate }}<br>
                  {{ 'HOME_PAGE.PAGE_SLIDER.CARE_ACTION' | translate }}<br>
                </h3>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="page-card" (click)="onClickPageCardLink('fup')">
              <ion-card-header>
                <img [src]="orderMedImg" alt="">
              </ion-card-header>
              <ion-card-content>
                <h3>
                  {{ 'HOME_PAGE.PAGE_SLIDER.MED_CARD' | translate }}<br>
                  {{ 'HOME_PAGE.PAGE_SLIDER.MED_ACTION' | translate }}<br>
                </h3>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="page-card" (click)="onClickPageCardLink('lab')">
              <ion-card-header>
                <img [src]="labImg" alt="">
              </ion-card-header>
              <ion-card-content>
                <h3>
                  {{ 'HOME_PAGE.PAGE_SLIDER.BOX_CARD' | translate }}<br>
                  {{ 'HOME_PAGE.PAGE_SLIDER.BOX_ACTION' | translate }}<br>
                </h3>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="articles?.magazines || articles?.cooking">
      <ion-col offsetSm="2" sizeSm="8">
        <h3 class="subheader">
          {{ 'HOME_PAGE.GET_INFORMED' | translate }}
        </h3>
        <div *ngIf="articles?.magazines" class="magazines">
          <ion-slides pager="hasPagination(articles?.magazines.length)">
            <ion-slide *ngFor="let item of articles?.magazines">
              <ion-card (click)="onClickArticle(item.key)" class="article-container slider">
                <ion-card-content>
                  <img *ngIf="item?.image" [src]="item?.image" alt="">
                  <div class="header">
                    <div class="date">
                      {{ item?.date | date: 'dd.MM.yyy' }}
                      <span *ngIf="item?.category">| </span>
                    </div>
                    <div class="category">{{ item?.category }}</div>
                  </div>
                  <p class="body">{{ item?.text }}</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>

        <h3 class="subheader">
          {{ 'HOME_PAGE.RECIPE_IDEAS' | translate }}
        </h3>

        <div *ngIf="articles?.cooking" class="magazines">
          <ion-slides pager="hasPagination(articles?.magazines.cooking)">
            <ion-slide *ngFor="let item of articles?.cooking">
              <ion-card (click)="onClickRecipe(item.key)" class="article-container slider">
                <ion-card-content>
                  <img *ngIf="item?.image" [src]="item?.image" alt="">
                  <div class="header">
                    <div class="category">{{ item?.category }}</div>
                  </div>
                  <p class="body">{{ item?.text }}</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <input #filePicker (change)="onFileChosen($event)" accept="image/jpeg,image/png" type="file">

</ion-content>

<ion-footer *ngIf="!isLoading">
  <app-toolbar-footer [user]="user$"></app-toolbar-footer>
</ion-footer>
