.image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 250px;
}

.body-text {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 32px;
  padding: 0 16px;
}

mat-form-field {
  margin:0 24px;
  width: calc(100% - 48px);
}

mat-select {
  font-size: 13px;
}

mat-label {
  font-size: 14px;
}

ion-footer {
  ion-grid, ion-col {
    padding: 0;
  }
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  margin: 6px 16px 0;
}
