<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'RATION_CHECK_PAGE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="image-container">
          <img [src]="rationImg" alt="" height="150">
        </div>
        <p class="body-text">
          {{ 'RATION_CHECK_PAGE.QUESTION.PREFIX' | translate }}
          {{ pet?.pet?.name }}
          {{ 'RATION_CHECK_PAGE.QUESTION.SUFFIX' | translate }}
        </p>

        <mat-form-field>
          <mat-label>{{ 'RATION_CHECK_PAGE.AMOUNT' | translate }}</mat-label>
          <mat-select [(ngModel)]="ration">
            <mat-option *ngFor="let ration of rations" [value]="ration.key">
              {{ ration.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <div class="footer-buttons">
          <ion-button
            color="medium"
            fill="clear"
            size="small"
            [routerLink]="['/pets/pet-care-card/' + petId + '/' + label + '/' + key]" routerDirection="back">
            {{ 'RATION_CHECK_PAGE.BUTTONS.BACK' | translate }}
          </ion-button>
          <ion-button  color="secondary" fill="clear" size="small"
                       [disabled]="!ration"
                       (click)="onProgress()">
            {{ 'RATION_CHECK_PAGE.BUTTONS.FORWARD' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-toolbar-footer [user]="user"></app-toolbar-footer>
</ion-footer>
