ion-card {
  margin: 16px 0;
}

ion-item {
  margin-left: -16px;
}

ion-button {
  margin-top: 32px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

mat-radio-button {
  display: block;
  margin-bottom: 16px;
}

h2 {
  margin-bottom: 32px;
}

.link {
  font-size: 12px;
}
